<com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl plugin="credentials@2.4.1">
  <scope>GLOBAL</scope>
  <id>$DockerHub_ID</id>
  <description>dockerhub registry</description>
  <username>$DockerHub_USERNAME</username>
  <password>$DockerHub_PASSWORD</password>
</com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>



